body.degov_vsm_search_search div.col-sm-12 + section.col-sm-12 {
  padding-left: 0;
}
body.degov_vsm_search_search div.col-sm-12 + section.col-sm-12 div.region-content section.col-sm-9 {
  padding: 20px 0 20px 20px;
}
body.degov_vsm_search_search div.col-sm-12 + section.col-sm-12 .views-row {
  padding: 20px;
  margin-bottom: 0;
}
body.degov_vsm_search_search .vsm_search_button {
  float: left;
}
body.degov_vsm_search_search #edit-actions {
  width: 100%;
}
body.degov_vsm_search_search #edit-submit-search-content {
  float: right;
}
body.degov_vsm_search_search button.vsm_search_button {
  float: left;
  font-size: 14px;
  margin-top: 16px;
}
body.degov_vsm_search_search .vsm_search_pager {
  text-align: center;
}
